DATABASE_URL="postgresql://postgres:123456@localhost:5432/fotobook_db?schema=public"
JWT_ACCESS_SECRET="sieu_mat_ma_access_token_khoivcd"
JWT_ACCESS_EXPIRES_IN="15m" 

JWT_REFRESH_SECRET="sieu_mat_ma_refresh_token_khoivcd"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3002
