NODE_ENV=development
PORT=3002

DATABASE_URL="postgresql://khoivcd:123456@localhost:5432/fotobook_db?schema=public"

JWT_ACCESS_SECRET="sieu_mat_ma_access_token_khoivcd"
JWT_ACCESS_EXPIRES_IN="15m" 

JWT_REFRESH_SECRET="sieu_mat_ma_refresh_token_khoivcd"
JWT_REFRESH_EXPIRES_IN="7d"

JWT_VERIFICATION_SECRET="sieu_mat_ma_verification_token_khoivcd"

CLOUDINARY_CLOUD_NAME="ltble9y2"
CLOUDINARY_API_KEY="538732925177986"
CLOUDINARY_API_SECRET="YLKZpeEj3nDKK8d36DzPcgVUdo0"

CLOUDINARY_FOLDER="upload-finalapp"

APP_HOST=http://localhost:3002
FRONTEND_HOST=http://localhost:5173

JWT_RESET_PASSWORD_SECRET=super_secret_key_for_reset_password_2026

# MAIL CONFIGURATION
# MAIL CONFIGURATION (BREVO SMTP)
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=apikey
SMTP_PASS=keyyyyyy
SMTP_FROM="Rosy Fotobook" <rosyfotobook@gmail.com>